/* 基础样式 */
@import "@styles/variables.css";
@import "@styles/reset.css";
@import "@styles/typography.css";
@import "@styles/animations.css";
@import "@styles/glass.css";

/* 组件样式 - Layout */
@import "@styles/components/layout/AppLayout.css";
@import "@styles/components/layout/AppSidebar.css";
@import "@styles/components/layout/AppHeader.css";

/* 组件样式 - Common */
@import "@styles/components/common/SLButton.css";
@import "@styles/components/common/SLModal.css";
@import "@styles/components/common/SLCard.css";

/* 视图样式 */
@import "@styles/views/ConsoleView.css";
/* 应用全局样式 */
@import "@styles/app.css";
